# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/BloonsATTDInternal.sln
/x64
/BloonsATTDInternal/x64
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/BloonsATTDInternal
/BloonsATTDInternal/pch.cpp
/BloonsATTDInternal/pch.h
/BloonsATTDInternal/BloonsATTDInternal.vcxproj
/BloonsATTDInternal/BloonsATTDInternal.vcxproj.filters
/BloonsATTDInternal/BloonsATTDInternal.vcxproj.user
